#Us .rayo{
    position: absolute;
    top: 0;
    left: 580px;
    color: #ffffff;
    width: 40%;
    height: 50%;
    padding: 30px;
    text-align: center;

}
#Us h4{
    font-size: 30px;
    margin: 15px 0;
}
#Us p{
    font-size: 20px;
    color: #ffffff;
}
#Us .contener{
    position: relative;
}
#Us{
    background: #4f4f4f;
    color: white;

}
#Us img{
    width: 100%;
    height: 100%;
    max-width: 530px;
    max-height: 530px;
}